<app-employee-detail-loader *ngIf="isLoading"></app-employee-detail-loader>

<app-not-found *ngIf="!isLoading && !data" (back)="back()"></app-not-found>

<div class="card" *ngIf="!!data">
	<h1 class="page-title">{{ data.firstName }} {{ data.lastName }}</h1>
	<p class="text-lg font-semibold mb-4">{{ data.username }}</p>
	<p class="mb-1 text-sm">
		<i class="fa fa-envelope" aria-hidden="true"></i>
		<span class="ml-2">{{ data.email }}</span>
	</p>
	<p class="mb-4 text-sm">
		<i class="fa fa-birthday-cake" aria-hidden="true"></i>
		<span class="ml-2">{{ data.birthDate | date : "dd MMMM YYYY" }}</span>
	</p>
	<p class="mb-1">Salary: {{ data.basicSalary | customCurrency }}</p>
	<p class="mb-1">
		<span>Status: </span>
		<span
			class="badge"
			[class.badge-primary]="data.status === 'verified'"
			[class.badge-secondary]="data.status === 'unverified'"
			>{{ data.status }}</span
		>
	</p>
	<p class="mb-1">
		<span>Group: </span>
		<span class="badge badge-primary">{{ data.group }}</span>
	</p>
	<p class="mb-4">
		Description: {{ data.description | date : "dd MMMM YYYY" }}
	</p>

	<div class="alert alert-error mb-4">
		Are you sure want to delete this employee?
	</div>

	<div class="flex gap-3">
		<button class="btn btn-danger" (click)="delete()">
			Yes, delete please
		</button>
		<button class="btn btn-secondary" (click)="back()">No, cancel</button>
	</div>
</div>

<app-toast *ngIf="isShowToast" (close)="toggleToast()">
	{{ toastMessage }}
</app-toast>
