<div class="navbar">
	<a href="#"><h1 class="title">Admin</h1></a>
	<div class="flex items-center gap-4">
		<button (click)="logout()">Logout</button>
	</div>
</div>
<div class="wrapper">
	<div class="sidebar">
		<ul class="menu">
			<li>
				<a routerLink="/employee" routerLinkActive="active">Employee</a>
			</li>
			<li><a routerLink="/user">User</a></li>
		</ul>
	</div>
	<div class="main">
		<router-outlet />
	</div>
</div>
