.navbar {
	@apply px-4 py-3 bg-primary flex items-center justify-between text-white fixed top-0 left-0 right-0 w-full z-10;

	.title {
		@apply text-xl font-bold;
	}
}

.wrapper {
	@apply w-full;
	min-height: calc(100vh - 52px);

	.sidebar {
		@apply w-60 bg-white p-4 overflow-y-auto shadow-sm fixed top-[52px] -left-60 lg:left-0 h-full;

		.menu {
			display: flex;
			flex-direction: column;
			gap: 2px;

			li a {
				@apply py-1.5 px-2.5 w-full block;

				&.active {
					@apply bg-primaryLight rounded font-semibold text-white;
				}
			}
		}
	}

	.main {
		@apply p-4 flex-1 bg-gray-50 ml-0 lg:ml-60 mt-[52px];
		min-height: calc(100vh - 52px);
	}
}
