<div class="flex justify-center items-center min-h-screen">
	<div class="text-center">
		<h1 class="text-9xl font-bold block">404</h1>
		<h2 class="text-xl font-semibold">Page not found</h2>
		<p class="mt-2">
			Maybe your destination page was removed or the location was changed.
		</p>
		<button class="btn btn-primary mt-4" (click)="back()">
			Go back to previous page
		</button>
	</div>
</div>
