<div class="h-screen w-full bg-secondaryLight flex justify-center items-center">
	<div>
		<div class="card w-[320px]">
			<h1 class="text-2xl font-semibold text-center mb-4">Login</h1>
			<div *ngIf="errorMessage" class="alert alert-error mb-4 text-xs">
				{{ errorMessage }}
			</div>
			<form action="post" [formGroup]="form" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="username" class="label">Username</label>
					<input
						type="text"
						id="username"
						class="input"
						formControlName="username"
						appUsername
						[class.error]="
							username?.invalid && (username?.dirty || username?.touched)
						"
					/>
					<div
						*ngIf="username?.invalid && (username?.dirty || username?.touched)"
					>
						<small *ngIf="username?.hasError('required')" class="error-message"
							>Username is required</small
						>
						<small *ngIf="username?.hasError('minlength')" class="error-message"
							>Username must be at least length 4 characters long</small
						>
						<small *ngIf="username?.hasError('username')" class="error-message"
							>Username can not contain white space</small
						>
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="label">Password</label>
					<input
						type="password"
						id="password"
						class="input"
						formControlName="password"
						[class.error]="
							password?.invalid && (password?.dirty || password?.touched)
						"
					/>
					<div
						*ngIf="password?.invalid && (password?.dirty || password?.touched)"
					>
						<small *ngIf="password?.hasError('required')" class="error-message"
							>Password is required</small
						>
					</div>
				</div>
				<button type="submit" class="btn btn-primary w-full">Login</button>
			</form>
		</div>
		<div class="text-xs text-primaryLight mt-4 italic">
			<p class="mb-2">Account</p>
			<p>Username: admin</p>
			<p>Password: admin</p>
		</div>
	</div>
</div>
