<div class="card">
	<h1 class="page-title">Edit Employee</h1>
	<form action="post" [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="username" class="label">Username</label>
			<input
				type="text"
				class="input"
				id="username"
				formControlName="username"
				[class.error]="
					username?.invalid && (username?.dirty || username?.touched)
				"
				appUsername
			/>
			<div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
				<small *ngIf="username?.hasError('required')" class="error-message"
					>Username is required</small
				>
				<small *ngIf="username?.hasError('minlength')" class="error-message"
					>Username must be at least length 4 characters long</small
				>
				<small *ngIf="username?.hasError('username')" class="error-message"
					>Username can not contain white space</small
				>
			</div>
		</div>
		<div class="form-group">
			<label for="firstName" class="label">First Name</label>
			<input
				type="text"
				class="input"
				id="firstName"
				formControlName="firstName"
				[class.error]="
					firstName?.invalid && (firstName?.dirty || firstName?.touched)
				"
			/>
			<div
				*ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
			>
				<small class="error-message">First name is required</small>
			</div>
		</div>
		<div class="form-group">
			<label for="lastName" class="label">Last Name</label>
			<input
				type="text"
				class="input"
				id="lastName"
				formControlName="lastName"
				[class.error]="
					lastName?.invalid && (lastName?.dirty || lastName?.touched)
				"
			/>
			<div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
				<small class="error-message">Last name is required</small>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="label">Email</label>
			<input
				type="email"
				class="input"
				id="email"
				formControlName="email"
				[class.error]="email?.invalid && (email?.dirty || email?.touched)"
			/>
			<div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
				<small *ngIf="email?.hasError('required')" class="error-message"
					>Email is required</small
				>
				<small *ngIf="email?.hasError('email')" class="error-message"
					>Email is not valid</small
				>
			</div>
		</div>
		<div class="form-group">
			<label for="birthDate" class="label">Birth Date</label>
			<input
				type="date"
				class="input"
				id="birthDate"
				formControlName="birthDate"
				[class.error]="
					birthDate?.invalid && (birthDate?.dirty || birthDate?.touched)
				"
				appLessOrEqualTodayDate
			/>
			<div
				*ngIf="birthDate?.invalid && (birthDate?.dirty || birthDate?.touched)"
			>
				<small
					*ngIf="birthDate?.hasError('lessOrEqualTodayDate')"
					class="error-message"
					>Birth date should be less than or equal to today</small
				>
				<small *ngIf="birthDate?.hasError('required')" class="error-message"
					>Birth date is required</small
				>
			</div>
		</div>
		<div class="form-group">
			<label for="basicSalary" class="label">Basic Salary</label>
			<input
				type="number"
				class="input"
				id="basicSalary"
				formControlName="basicSalary"
				[class.error]="
					basicSalary?.invalid && (basicSalary?.dirty || basicSalary?.touched)
				"
			/>
			<div
				*ngIf="
					basicSalary?.invalid && (basicSalary?.dirty || basicSalary?.touched)
				"
			>
				<small class="error-message">Basic salary is required</small>
			</div>
		</div>
		<div class="form-group">
			<label for="status" class="label">Status</label>
			<div class="flex gap-4">
				<div class="flex gap-2 items-center">
					<input
						type="radio"
						id="verified"
						value="verified"
						name="status"
						formControlName="status"
					/>
					<label for="verified">Verified</label>
				</div>
				<div class="flex gap-2 items-center">
					<input
						type="radio"
						id="unverfied"
						value="unverified"
						name="status"
						formControlName="status"
					/>
					<label for="unverfied">Unverified</label>
				</div>
			</div>
			<div *ngIf="status?.invalid && (status?.dirty || status?.touched)">
				<small class="error-message">Status is required</small>
			</div>
		</div>
		<div class="form-group">
			<label for="group" class="label">Group</label>
			<select
				class="select"
				id="group"
				formControlName="group"
				[class.error]="group?.invalid && (group?.dirty || group?.touched)"
			>
				<option value="">-- Select --</option>
				<option
					*ngFor="let option of employeeGroupList"
					[value]="option.name"
					[selected]="group?.value === option.name"
				>
					{{ option.name }}
				</option>
			</select>
			<div *ngIf="group?.invalid && (group?.dirty || group?.touched)">
				<small class="error-message">Group is required</small>
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="label">Description</label>
			<input
				type="date"
				class="input"
				id="description"
				formControlName="description"
				[class.error]="
					description?.invalid && (description?.dirty || description?.touched)
				"
			/>
			<div
				*ngIf="
					description?.invalid && (description?.dirty || description?.touched)
				"
			>
				<small *ngIf="description?.hasError('required')" class="error-message"
					>Birth date is required</small
				>
			</div>
		</div>
		<div class="flex gap-4">
			<button class="btn btn-primary" [disabled]="!form.valid">Save</button>
			<button type="button" (click)="back()" class="btn btn-secondary">
				Cancel
			</button>
		</div>
	</form>
</div>

<app-toast *ngIf="isShowToast" (close)="toggleToast()">
	{{ toastMessage }}
</app-toast>
