<div class="card">
	<h1 class="page-title">Employee List</h1>
	<a routerLink="/employee/new" class="btn btn-primary">New Employee</a>
	<form
		[formGroup]="searchForm"
		action="get"
		class="mt-4 p-4 rounded border bg-secondaryLight"
		(ngSubmit)="onSubmitSearch()"
	>
		<h2 class="font-semibold mb-2 text-xl">Search</h2>
		<div class="form-group">
			<label for="username" class="label">Username</label>
			<input
				type="text"
				class="input"
				id="username"
				formControlName="username"
				appUsername
			/>
			<div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
				<small *ngIf="username?.hasError('minlength')" class="error-message"
					>Username must be at least length 4 characters long</small
				>
				<small *ngIf="username?.hasError('username')" class="error-message"
					>Username can not contain white space</small
				>
			</div>
		</div>
		<div class="form-group">
			<label for="firstName" class="label">First Name</label>
			<input
				type="text"
				class="input"
				id="firstName"
				formControlName="firstName"
			/>
		</div>
		<div class="form-group">
			<label for="lastName" class="label">Last Name</label>
			<input
				type="text"
				class="input"
				id="lastName"
				formControlName="lastName"
			/>
		</div>
		<div class="form-group">
			<label for="email" class="label">Email</label>
			<input
				type="text"
				class="input"
				id="email"
				formControlName="email"
				[class.error]="email?.invalid && (email?.dirty || email?.touched)"
			/>
			<div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
				<small *ngIf="email?.hasError('required')" class="error-message"
					>Email is required</small
				>
				<small *ngIf="email?.hasError('email')" class="error-message"
					>Email is not valid</small
				>
			</div>
		</div>
		<div class="flex gap-3">
			<button type="submit" class="btn btn-primary">Search</button>
			<button type="button" class="btn btn-secondary" (click)="onReset()">
				Reset
			</button>
		</div>
	</form>

	<div class="form-group self-end mt-4 w-48">
		<label for="pageSize" class="label">Show data per page</label>
		<select
			name="pageSize"
			id="pageSize"
			class="select"
			[ngModel]="perPage"
			(ngModelChange)="onPerPageChange($event)"
		>
			<option *ngFor="let option of pageSizeOptions" [value]="option">
				{{ option }}
			</option>
		</select>
	</div>

	<div class="table-container mt-4">
		<table class="table">
			<thead>
				<tr>
					<th>
						<div class="flex gap-2">
							<span>No</span>
						</div>
					</th>
					<th>
						<div class="flex gap-2">
							<span>Username</span>
							<button
								(click)="onSortBy('username')"
								class="opacity-0 hover:opacity-100"
								[class.opacity-100]="sortBy === 'username' && !!sortDirection"
							>
								<i
									class="fa fa-sort-amount-asc"
									[class.rotate-180]="
										sortDirection === 'desc' && sortBy === 'username'
									"
									aria-hidden="true"
								></i>
							</button>
						</div>
					</th>
					<th>
						<div class="flex gap-2">
							<span>First Name</span>
							<button
								(click)="onSortBy('firstName')"
								class="opacity-0 hover:opacity-100"
								[class.opacity-100]="sortBy === 'firstName' && !!sortDirection"
							>
								<i
									class="fa fa-sort-amount-asc transform"
									[class.rotate-180]="
										sortDirection === 'desc' && sortBy === 'firstName'
									"
									aria-hidden="true"
								></i>
							</button>
						</div>
					</th>
					<th>
						<div class="flex gap-2">
							<span>Last Name</span>
							<button
								(click)="onSortBy('lastName')"
								class="opacity-0 hover:opacity-100"
								[class.opacity-100]="sortBy === 'lastName' && !!sortDirection"
							>
								<i
									class="fa fa-sort-amount-asc"
									[class.rotate-180]="
										sortDirection === 'desc' && sortBy === 'lastName'
									"
									aria-hidden="true"
								></i>
							</button>
						</div>
					</th>
					<th>
						<div class="flex gap-2">
							<span>Email</span>
						</div>
					</th>
					<th>
						<div class="flex gap-2">
							<span>Status</span>
							<button
								(click)="onSortBy('status')"
								class="opacity-0 hover:opacity-100"
								[class.opacity-100]="sortBy === 'status' && !!sortDirection"
							>
								<i
									class="fa fa-sort-amount-asc"
									[class.rotate-180]="
										sortDirection === 'desc' && sortBy === 'status'
									"
									aria-hidden="true"
								></i>
							</button>
						</div>
					</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody loader *ngIf="isLoading"></tbody>
			<tbody *ngIf="!isLoading">
				<tr *ngFor="let item of list; let i = index">
					<td>{{ getItemNumber(i) }}</td>
					<td>{{ item.username }}</td>
					<td>{{ item.firstName }}</td>
					<td>{{ item.lastName }}</td>
					<td>{{ item.email }}</td>
					<td>
						<span
							class="badge"
							[class.badge-primary]="item.status === 'verified'"
							[class.badge-secondary]="item.status === 'unverified'"
						>
							{{ item.status }}
						</span>
					</td>
					<td>
						<div class="flex gap-2">
							<a routerLink="/employee/{{ item.id }}" class="btn btn-primary"
								>Detail</a
							>
							<a
								routerLink="/employee/{{ item.id }}/edit"
								class="btn btn-warning"
								>Edit</a
							>
							<button
								routerLink="/employee/{{ item.id }}/delete"
								class="btn btn-danger"
							>
								Delete
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<ul class="pagination mt-4">
		<li class="page-item" [class.disabled]="isPageActive(1)">
			<span
				class="page-link"
				(click)="
					page > 1
						? getList({
								page: page - 1,
								perPage,
								sortBy,
								sortDirection,
								username: username?.value,
								firstName: firstName?.value,
								lastName: lastName?.value,
								email: email?.value
						  })
						: undefined
				"
				>Previous</span
			>
		</li>
		<li
			class="page-item"
			*ngFor="let item of paginationCounter; let i = index"
			[class.active]="isPageActive(i + 1)"
		>
			<span
				class="page-link"
				(click)="
					getList({
						page: i + 1,
						perPage,
						sortBy,
						sortDirection,
						username: username?.value,
						firstName: firstName?.value,
						lastName: lastName?.value,
						email: email?.value
					})
				"
				>{{ i + 1 }}</span
			>
		</li>
		<li class="page-item" [class.disabled]="isPageActive(totalPage)">
			<span
				class="page-link"
				(click)="
					page < totalPage
						? getList({
								page: page + 1,
								perPage,
								sortBy,
								sortDirection,
								username: username?.value,
								firstName: firstName?.value,
								lastName: lastName?.value,
								email: email?.value
						  })
						: undefined
				"
				>Next</span
			>
		</li>
	</ul>
</div>
