<div class="card animate-pulse">
	<div class="w-64 h-8 rounded bg-secondaryLight mb-5"></div>
	<div class="w-48 h-6 rounded bg-secondaryLight mb-4"></div>
	<div class="w-64 h-3 rounded bg-secondaryLight mb-2"></div>
	<div class="w-40 h-3 rounded bg-secondaryLight mb-4"></div>
	<div class="w-48 h-4 rounded bg-secondaryLight mb-2"></div>
	<div class="w-32 h-4 rounded bg-secondaryLight mb-2"></div>
	<div class="w-28 h-4 rounded bg-secondaryLight mb-2"></div>
	<div class="w-48 h-4 rounded bg-secondaryLight mb-4"></div>
	<div class="w-20 h-10 rounded bg-secondaryLight"></div>
</div>
