<div
	class="px-5 py-3 fixed top-16 right-4 shadow z-20 rounded bg-green-600 text-white text-sm max-w-80 transition-all duration-200 ease-in-out flex gap-2"
>
	<div><ng-content></ng-content></div>
	<button (click)="handleClose()">
		<i class="fa fa-times" aria-hidden="true"></i>
	</button>
</div>
