<tr *ngFor="let item of loaderCounter" class="animate-pulse">
	<td class="!py-4">
		<div class="w-6 h-6 rounded bg-secondaryLight"></div>
	</td>
	<td>
		<div class="w-32 h-6 rounded bg-secondaryLight"></div>
	</td>
	<td>
		<div class="w-32 h-6 rounded bg-secondaryLight"></div>
	</td>
	<td>
		<div class="w-32 h-6 rounded bg-secondaryLight"></div>
	</td>
	<td>
		<div class="w-40 h-6 rounded bg-secondaryLight"></div>
	</td>
	<td>
		<div class="w-24 h-6 rounded bg-secondaryLight"></div>
	</td>
	<td>
		<div class="flex gap-2">
			<div class="w-16 h-6 rounded bg-secondaryLight"></div>
			<div class="w-16 h-6 rounded bg-secondaryLight"></div>
			<div class="w-16 h-6 rounded bg-secondaryLight"></div>
		</div>
	</td>
</tr>
